@model System.Data.DataSet
@{
    ViewBag.Title = "GetTransopsedView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>GetTransopsedView</h2>

<table style="width:100%" border="1">
  
    <tr>
        @{
            List<double> totals = new List<double>();
            foreach (System.Data.DataColumn column in Model.Tables[0].Columns)
            {
                totals.Add(0);
                <th>@column.ColumnName</th>

            }
        }
    </tr>

    @{

        foreach (System.Data.DataRow t in Model.Tables[0].Rows)
        {
            int counter = 0;
            <tr>
                @foreach (var n in t.ItemArray)
                {
                    if (counter > 4)
                    {
                        try
                        {

                            double number;


                            if (Double.TryParse(n.ToString(), out number))
                            {
                                totals[counter] += number;
                            }



                            // totals[counter] += Convert.ToDouble(n.ToString());
                        }
                        catch (Exception)
                        {
                        }
                       
                    }
                    counter++;  
                    <td>@n.ToString()</td>
                }
            </tr>
        }

    }
    <tr>
        @{
            int cnt = 0;
            foreach (double item in totals)
            {
                if (cnt > 4)
                {
                    <th>@item.ToString()</th>
                }
                else
                {
                    <th></th>
                }

                cnt++;
            }
}
    </tr>



</table>
